__pycache__/
*.pyc
.DS_Store

uploads/
*.pdf

.env
venv/
env/
.venv/

*.crdownload

# Large model files
models/zero_shot_model/
*.safetensors
*.bin
*.zipmodels/zero_shot_model/
.venv/
__pycache__/
.DS_Store
